.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature {
  font-size: 150%;
  /* min-width: 400px; */
}
